
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="wtfdiary.css" rel="stylesheet" type="text/css">

<title>
Facebook like Profile Page design using HTML and CSS
</title>
</head>

<body>
<div id="container">

<div id='cover_container' style="background:url('cover.jpg');">
<div id='info_box'>
<div id="profile_img"><img src='http://www.gravatar.com/avatar/a422402df9e5dc54fab6e8131dd19fd0?s=80' class='avatar_img'/></div>

<div id="info-box">
<div id="info-name"><b>WTF Diary</b></div>
<div id="info-content">
<div style="float:right">
<div><a href='change_cover.php'><img src='cameraa.png' title='Change Cover Picture'/></a></div>
</div>

<div id="info-photos">
<div>Photos</div>
<div><b>17</b></div>
</div>

<div id="info-friends">
<div>Friends</div>
<div><b>270</b></div>
</div>

</div>
</div>

<div style='clear:both'></div>

</div>
</div>

<div id="container-content">
<h2>Put your Content Here.</h2>
</div>

</div>
</body>
</html>




